Zaměstnanci a Projekty

In [1]:
import pandas
zam_praha = pandas.read_csv('zam_praha.csv')
zam_plzen = pandas.read_csv('zam_plzeň.csv')
zam_liberec = pandas.read_csv('zam_liberec.csv')

Načti data o zaměstnancích z CSV souborů do tabulek (DataFrame). Ke každé tabulce přidej nový sloupec mesto, které bude obsahovat informaci o tom, ve kterém městě zaměstnanec pracuje.

In [2]:
zam_praha['mesto'] = 'Praha'
zam_plzen['mesto'] = 'Plzeň'
zam_liberec['mesto'] = 'Liberec'

Vytvoř novou tabulku zamestnanci a ulož do ní informace o všech zaměstnancích (operace concat).

In [33]:
zamestnanci = pandas.concat([zam_praha, zam_plzen, zam_liberec], ignore_index=True)
zamestnanci.head()

      jmeno prijimeni   telefonni_cislo  cislo_zamestnance  mesto
0     Brian      Hall  +421 949 656 098                 30  Praha
1     Marta  Kolářová       730 456 163                 32  Praha
2      John   Moravec       725 092 179                 33  Praha
3  Dominika   Kopecká       722 747 626                 34  Praha
4    Marcel     Hájek  +421 902 928 669                 35  Praha

Ze souboru platy_2021_02.csv načti platy zaměstnanců za únor 2021. Propoj tabulku (operace join) s platy a tabulku se zaměstnanci pomocí sloupce cislo_zamestnance.

In [4]:
platy = pandas.read_csv('platy_2021_02.csv')
zamestnanci_unor = pandas.merge(zamestnanci, platy, on=['cislo_zamestnance'],how='outer')
zamestnanci_unor.head()

      jmeno prijimeni   telefonni_cislo  cislo_zamestnance  mesto     plat
0     Brian      Hall  +421 949 656 098                 30  Praha  33500.0
1     Marta  Kolářová       730 456 163                 32  Praha  53000.0
2      John   Moravec       725 092 179                 33  Praha  38400.0
3  Dominika   Kopecká       722 747 626                 34  Praha  36800.0
4    Marcel     Hájek  +421 902 928 669                 35  Praha      NaN

Porovnej rozměry tabulek před spojením a po spojení. Pokud nemá některý zaměstnanec plat za únor, znamená to, že v naší firmě již nepracuje.

In [11]:
zamestnanci.shape

(56, 5)

In [10]:
zamestnanci_unor.shape

(56, 6)

Spočti průměrný plat zaměstnanců v jednotlivých kancelářích.

In [26]:
zamestnanci_unor.groupby('mesto')['plat'].mean().round()

mesto
Liberec    43775.0
Plzeň      44793.0
Praha      43295.0
Name: plat, dtype: float64

Zadání 2

Pokračuj ve své práci pro softwarovou firmu. Ze souboru vykazy.csv načti informace o výkazech na projekty pro jednoho vybraného zákazníka.

Načti data ze souboru a ulož je do tabulky.

In [27]:
vykazy = pandas.read_csv('vykazy.csv')
vykazy.head()

         date  hours project  emloyee_id
0  2021-02-01    2.5     F30          13
1  2021-02-01    3.4     W05          70
2  2021-02-01    2.1     JL9          72
3  2021-02-01    5.2     F30           3
4  2021-02-01    2.4     TE1          54

Proveď agregaci a zjisti celkový počet vykázaných hodin za jednotlivé projekty.

In [30]:
celkovy_pocet = vykazy.groupby('project')['hours'].sum()
celkovy_pocet

project
F30    21.5
JL9     2.1
TE1    16.0
W05    30.5
YLI    31.0
Name: hours, dtype: float64

Nepovinný bonus 1

Ulož do proměnné počet zaměstnanců, kteří v naší firmě již nepracují.

In [47]:
zamestnanci_odesli = pandas.merge(zamestnanci, platy, on=['cislo_zamestnance'],how='left')
odesli_zamestnanci_final = zamestnanci_odesli[zamestnanci_odesli['plat'].isnull()]
print(odesli_zamestnanci_final)

        jmeno prijimeni   telefonni_cislo  cislo_zamestnance    mesto  plat
4      Marcel     Hájek  +421 902 928 669                 35    Praha   NaN
12   Karolína     Short       721 589 083                 53    Praha   NaN
13   Michelle   Vlčková  +421 41 720 7806                 54    Praha   NaN
16       John    Bailey       775 021 116                 58    Praha   NaN
17    William   Shelton  +421 47 745 8219                 60    Praha   NaN
18  Miroslava    Veselá       774 029 254                 62    Praha   NaN
21     Nathan   Svoboda       728 710 923                 66    Praha   NaN
24     Robert      Říha       727 351 984                 72    Praha   NaN
33   Jindřich    Howell  +421 39 043 0948                 10    Plzeň   NaN
34  Alexander  Martinez       721 195 689                 13    Plzeň   NaN
48   Jennifer     Brown       775 545 190                 86  Liberec   NaN
50     Robert    Macias  +421 49 929 6856                 88  Liberec   NaN
55       Ivan    Bartoš       603 226 051                 99  Liberec   NaN

V rámci úspory se IT oddělení rozhodlo prověřit licence přidělené zaměstnancům, kteří ve firmě již nepracují. Vytvoř samostatnou tabulku, která obsahuje jména zaměstnanců, kteří ve firmě již nepracují. Tabulku ulož do souboru CSV.

In [48]:
odesli_zamestnanci_final.to_csv('odesli_zamestnanci_final.csv', index=False)