In [2]:
import pandas

In [5]:
#Načti data pomocí metody pandas.read_csv(). Nastav oddělovač na znak středníku. Využij parametr sep
adopce_zvirat = pandas.read_csv('adopce-zvirat.csv', sep=";") 
adopce_zvirat

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1
...,...,...,...,...,...,...
508,1417,Rosnice šalamounská,,Obojživelníci,1000,1
509,1418,Létavka obecná,,Obojživelníci,1000,1
510,1419,Bažant paví,,Ptáci,1000,1
511,1420,Sojkovec rezavouchý,,Ptáci,1000,1
512,1421,Kachnice kaštanová,,Ptáci,1000,1

In [ ]:
#Počet řádků a slopců
adopce_zvirat.shape

In [ ]:
#Názvy sloupců
adopce_zvirat.columns

In [17]:
#Zvíře na záznamu s indexem 34
adopce_zvirat.iloc[34]

id                     99
nazev_cz        Ibis bílý
nazev_en       White ibis
trida_cz            Ptáci
cena                 3000
k_prohlidce             1
Name: 34, dtype: object

In [13]:
#Nejdražší zvíře k adopci

nejdrazsi_zvire = adopce_zvirat.sort_values('cena', ascending=False)
nejdrazsi_zvire[['nazev_cz','cena']].iloc[0]

nazev_cz    Tygr sumaterský
cena                  50000
Name: 114, dtype: object

In [39]:
#Alfabeticky poslední zvíře - čj
posledni_zvire = adopce_zvirat.sort_values('nazev_cz', ascending=True)
posledni_zvire[['nazev_cz']].iloc[-1]

nazev_cz    Žluva hajní
Name: 371, dtype: object

In [40]:
#Alfabeticky poslední zvíře - aj
posledni_zvire = adopce_zvirat.sort_values('nazev_en', ascending=True)
posledni_zvire[['nazev_en']].iloc[-1]

nazev_en    Yellow-necked francolin
Name: 161, dtype: object